@charset "utf-8";
/* CSS Document */

#main{
	height:797px;
	}
.main_t{
	height:195px;
	text-align:center;
	}
.main_t h3{
	line-height:50px;
	font-size:28px;
	padding-top:80px;
	color:#010103;
	}
.gategory li{
	display:inline-block;
	}
.gategory li a{
	line-height:65px;
	font-size:16px;
	margin-right:24px;
	color:#252122;
	}
.gategory .all{
	color:#e9270e;
	}
.gategory li a:hover{
	color:#e9270e;
	}
.main_b a{
	display:block;
	width:285px;
	height:182px;
	float:left;
	position:relative;
	}
.main_b a img{
	width:285px;
	height:182px;
	}
.main_b .mask{
	display:block;
	width:285px;
	height:182px;
	background-color:rgba(0,0,0,0.3);
	position:absolute; 
	left:0;
	top:0;
	}
.main_b .mask:hover{
	opacity:0.1;
	}