<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/blog.css" rel="stylesheet" type="text/css" />

<body>
<a name="dingbu"></a>
<div id="header">
    <div class="inner">
        <div class="logo"><img src="../images/logo.png"/></div>
        <div class="nav">
            <ul>
                <li><a href="../index.html"> Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="blog.html" class="current">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="pic_nav"> <a href="#"></a> <a href="#" class="xn"></a> <a href="#" class="wifi"></a> <a href="#" class="v"></a> <a href="#" class="ds"></a> <a href="#" class="in"></a> </div>
    </div>
</div>
<div id="main">
    <div class="inner">
        <div class="main_l">
            <h4 class="elit">LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISCING ELIT</h4>
            <p class="pocted">Posted 02.05.2015 at 18:00h in Web Author By <span class="jhone">Jhone Smith / 60 Likes / 2 Comments</span></p>
            <div class="main_pic"> <img src="../images/single.jpg"/>
                <div class="main_pic_s"> <a href="#" class="jan"></a> <a href="#" class="xj"></a> </div>
            </div>
            <h4 class="d3"><span class="d3y">3D Printing, 3D Software, Files to Print</span> | on february 14,2015</h4>
            <p class="like">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose injected humour and the like<br/>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose injected humour and the like </p>
            <h2>LEAVE A COMMENT</h2>
            <form class="comment">
                <p>Name</p>
                <input type="text" placeholder="" class="txt_c"/>
                <p>Email</p>
                <input type="text" placeholder="" class="txt_c"/>
                <p>Website</p>
                <input type="text" placeholder="http://w3layouts.com" class="txt_c" id="c_last"/>
                <p>Comment</p>
                <textarea class="comment_c"></textarea>
                <input type="submit" value="" class="btn_c"/>
            </form>
            <h3>COMMENTS</h3>
            <div class="comments"> 
            	<img src="../images/avatar.jpg"/>
                <div class="brown">
                    <h5>TOM BROWN</h5>
                    <p>Vivamus congue turpis in laoreet sem nec ultrices.reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as to using 'Content here, content here', making it look like readable English. Sed semper purus sit amet lorem elementum faucibus.
</p>
                    <p class="time">On April 14, 2014, 18:01</p>
                    <form class="teply">
                		<input type="submit" value="" class="reply_s"/>
                    </form>
                </div>
            </div>
            <div class="comments"> 
            	<img src="../images/avatar.jpg"/>
                <div class="brown">
                    <h5>MARK JOHNSON</h5>
                    <p>Vivamus congue turpis in laoreet sem nec ultrices.reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as to using 'Content here, content here', making it look like readable English. Sed semper purus sit amet lorem elementum faucibus.
</p>
                    <p class="time">On April 14, 2014, 18:01</p>
                    <form class="teply">
                		<input type="submit" value="" class="reply_s"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="main_r">
             <h4 class="blog">BLOG SEARCH</h4>
             
            <form class="search">
                <input type="text" placeholder="Enter to search..." class="txt"/>
                <input type="submit" value="" class="btn"/>
            </form>
             <h4 class="categories">CATEGORIES</h4>
             <ul>
             	<li>Cras ut ultrices</li>
             	<li>Nullam id enim</li>
             	<li>scelerisque enim</li>
             	<li>Ut tincidunt</li>
             	<li>Aliquam mauris nunc,</li>
             	<li>convallis ex urna, ege</li>
             	<li>et commodo</li>
             </ul>
             <h4 class="archives">ARCHIVES</h4>
              <ul>
              	<li>February 2015</li>
              	<li>January 2015</li>
              	<li>December 2015</li>
              	<li>November 2015</li>
              	<li>February 2015</li>
              	<li>December 2015</li>
              </ul>
            <h4 class="feature">FEATURE POSTS</h4>
             <a href="#"><img src="../images/s1.jpg"/></a>
             <a href="#"><img src="../images/s2.jpg"/></a>
             <a href="#"><img src="../images/s3.jpg"/></a>
             <a href="#"><img src="../images/s4.jpg"/></a>
             <a href="#"><img src="../images/s5.jpg"/></a>
             <a href="#"><img src="../images/s6.jpg"/></a>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer_t">
        <div class="inner">
            <div class="sit">
                <h4>ABOUT STUDEON</h4>
                <div class="studeon">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                </div>
            </div>
            <div class="sit" id="tags">
                <h4>THE TAGS</h4>
                <a href="#">Strategy </a> <a href="#">Photography</a> <a href="#">Development</a> <a href="#">Css </a> <a href="#">photoshop</a> <a href="#"> Html</a> <a href="#">Awesome</a> <a href="#">Strategy</a> <a href="#">Photoshop</a> <a href="#">Html</a> </div>
            <div class="sit" id="tweets">
                <h4>LATEST TWEETS</h4>
                <p>I like this awesome freebie. Check it out <a href="#">@http://t.co/9vslJFpW</a></p>
                <h5>ABOUT 15 MINS</h5>
                <p>I like this awesome freebie. Check it out<a href="#"> @http://t.co/9vslJFpW</a></p>
                <h5>ABOUT 15 MINS</h5>
            </div>
            <div class="sit" id="last">
                <h4>FLICKR FEED</h4>
                <a href="#"><img src="../images/f1.png"/></a> <a href="#"><img src="../images/f2.png"/></a> <a href="#"><img src="../images/f3.png"/></a> <a href="#"><img src="../images/f4.png"/></a> <a href="#"><img src="../images/f3.png"/></a> <a href="#"><img src="../images/f2.png"/></a> </div>
        </div>
    </div>
    <div class="footer_b">
        <div class="inner">
            <div class="logo_f"> <img src="../images/logo_f_03.jpg"/> </div>
            <div class="fsb">Copyright &copy; 2015 All rights Reserved | Template by <span>W3layouts</span></div>
            <div> </div>
        </div>
    </div>
    <div id="xtb"> <a href="#dingbu"> <img src="../images/move-top.png"/> </a> </div>
</div>
</body>
</html>
